################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ig/v15/Browse.VC.opendb
/.vs/informatiqueGraphique/v15/Browse.VC.opendb
/.vs/informatiqueGraphique/v15/Browse.VC.db
/.vs/informatiqueGraphique/v15/.suo
